name: "Generate Release"
on:
  push:
    tags:
      - '*' # Triggers on any tag push

jobs:
  build-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to update the release notes
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Changelog
        id: build_changelog
        uses: mikepenz/release-changelog-builder-action@v4
        with:
          configuration: ".github/changelog_config.json"
          ignorePreReleases: true
          # This is the key: it looks for closed issues
          mode: "COMMIT"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{steps.build_changelog.outputs.changelog}}
          tag_name: ${{ github.ref_name }}